/* ROOTS */
:root{
    --backcolor-card: rgba(181, 221, 255, 1);
    --color-nav: rgba(0, 132, 253, 1);
    --backcol-section:  rgba(151, 146, 228, 1);
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* UTILITY */

.container{
    width: 480px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.row{
    margin: 1rem -1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

[class*="col"]{
    padding: 1rem;
    margin: 0.65rem 0;
    width: 100%;
    /* debug */
    background-color: var(--backcolor-card);
}

/* DEBUG */
.debug{
    border: 1px dashed red;
    padding: 5px;
}

/* HEADER */

#header{
    background-color: var(--color-nav);
    color: whitesmoke;
}

#header .container{
    justify-content: space-between;
}

#header .container .logo,
#header .container .nav{
    padding: 10px;
}

/* MAIN */
/* section one */
#frist_section .container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-left, .card-right{
    padding: 5px;
}

/* section two */
#two_section{
    background-color: var(--backcol-section);
    color: whitesmoke;
}

.col-in{
    background-color: inherit;
}

.col-w{
    background-color: whitesmoke;
    color: black;
}

/* section testimonials */
#testimonials .container{
    display: flex;
    justify-content: center;
    text-align: center;
}

#testimonials h2{
    color: var(--backcol-section);
}

.col-teste{
    background-color: var(--backcol-section);
}

.col-teste .card-left{
    background-color: whitesmoke;
}