/* ROOTS */
:root{
    --backcolor-card: rgba(181, 221, 255, 1);
    --color-nav: rgba(0, 132, 253, 1);
    --backcol-section:  rgba(151, 146, 228, 1);
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/* UTILITY */

.container{
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row{
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
}

.col{
    padding: 1rem;
    width: 100%;
}

.card{
    padding: 1rem;
}

div{
    border-radius: 20px;
}

/* DEBUG */
.debug{
    border: 1px dashed red;
    padding: 5px;
}

/* HEADER */

#header{
    background-color: var(--color-nav);
    color: whitesmoke;
}

#header i{
    color: whitesmoke;
}

#header .container{
    display: flex;
    justify-content: space-between;
}

#header .container .logo,
#header .container .nav{
    padding: 10px;
    display: flex;
    align-items: center;
}

/* MAIN */
/* section one */
#frist-section .container{
    text-align: center;
}

#frist-section .card-left h3,
i{
    color: var(--color-nav);
}

.tit-demo{
    color: var(--color-nav);
}

#frist-section .card-left {
    color: rgb(70, 68, 68);
    margin-bottom: 1rem;
    text-align: left;
}

#frist-section img{
    width: 100%;
    position: relative;
    top: 25px;
}

.card-left, 
.card-right, 
.card{
    background-color: var(--backcolor-card);
    padding: 0.65rem;
}

/* section two */
#strategic-plan{
    background-color: var(--backcol-section);
    text-align: center;
}

#strategic-plan .card,
h2{
    background-color: inherit;
    color: whitesmoke;
}

#strategic-plan img{
    width: 100%;
}

.card-w{
    padding: 1rem;
    background-color: whitesmoke;
}

.card-w h2{
    color: rgb(43, 42, 42);
}

.card-w p{
    font-style: oblique;
    color: rgb(43, 42, 42);
}

/* section testimonials */
#testimonials{
    text-align: center;
}

.card-intro{
    padding: 1rem;
    background-color: whitesmoke;
}

.card-test{
    padding: 1rem;
    background-color: var(--backcol-section);
}

.card-img{
    background-color: white;
}

/* section benefits */
#benefits{
    background-color: var(--backcol-section);
    color: whitesmoke;
}

#benefits h2{
    padding: 2rem;
    text-align: center;
}

#benefits .card-w{
    color: var(--backcol-section);
}

/* section abautas */
#abautas h2{
    color: var(--backcol-section);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#abautas p{
    padding-bottom: 2rem;
}

/* section started */
#started{
    background-color: var(--backcol-section);
    color: whitesmoke;
    text-align: center;
    padding-top: 2rem ;
}

#started h3,
h2{
    padding: 1.2rem 1rem;
}

/* section footer */
#footer{
    padding: 0.8rem 0;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;
}

#footer p{
    padding: 1rem 0;
}

/*///////////////////////////////////////////////////////*/
/* RESPONSIVE SECTION */
/*///////////////////////////////////////////////////////*/
@media  screen and (min-width:768px) {
    .container{
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    /* frist section */
    #frist-section .col{
        padding: 1rem;
        width: calc(100% / 3);
    }

    #frist-section .card{
        height: 100%;
    }

    #frist-section .col:first-child{
        padding: 1rem;
        width: calc(100% / 3 * 2);
    }

    /* section testimonials */
    .card-test{
        display: flex;
    }
    .card-img{
        width: 30%;
    }
    .card-comm{
        width: 70%;
    }

    /* section benefits */
    #benefits .col{
        width: calc(100% / 2);
    }

    /* section abaut as */
    #abautas .col{
        width: 50%;
    }

}

@media screen and (min-width:1024px) {
    .container{
        width: 1024px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    /* frist section */
    #frist-section .col{
        padding: 1rem;
        width: calc(100% / 3);
    }

    #frist-section p{
        padding: 0;
    }

    #frist-section .col:first-child{
        padding: 1rem;
        width: calc(100% / 3 * 2);
    }

    #frist-section .bis{
        display: flex;
    }

    /* section two */
    #strategic-plan .col{
    width: calc(50%);
    }
    #stategic-plan .row{
    align-items: flex-end;
    }

    /* section benefits */
    #benefits .col{
        width: calc(100% / 3);
    }

    /* section abaut as */
    #abautas .col{
        width: calc(100% / 3);
    }

    #abautas .col:first-child{
        width: calc(100% / 3 * 2);
    }
}